html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
body{
	 background: rgb(102,102,102);
background: linear-gradient(90deg, rgba(102,102,102,1) 0%, rgba(156,156,156,1) 15%, rgba(223,223,223,1) 50%, rgba(156,156,156,1) 85%, rgba(102,102,102,1) 100%); 
	/*background-image:url("../pictures/bg.jpg");
	background-color: #EFEFEF;
	background-attachment: fixed;*/
	margin: 0;
	overflow: clip;
	contain: paint;
	min-height: 400px;
}
p, h3, a{
	font-family: verdana;
}
header{
	overflow: clip;
	contain: paint;
	height: 400px;
}
#upperheader{
	width: 100%;
	height: 400px;
	margin-bottom: 0;
	position: relative;
	clip-path: inset(0);
	text-align: center;/*
	background-image: url("../pictures/wp2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}
#headerimg{
	object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
}
h1{
	font-size: 40px;
	color: #FFF;
	font-family: verdana;
  	text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000; 
}
.headertext{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
h2{
	font-size: 30px;
	color: #FFF;
	font-family: verdana;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, 100%);
  	text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}
#navbar{
	z-index: 999;
	position: sticky;
	top: 0;
	overflow: hidden;
	height: 49px;
	width: 100%;
	background-color: #993F37;
}
ul {
	width: 500px;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	background-color: #993F37;
  	display: flex;
  	/*align-items: center;*/
  	justify-content: center;
}
li {
  	float: left;
}
li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 15px 25px;
  	text-decoration: none;
  	font-family: verdana;
	-webkit-transition: all 0.2s ease-in;
}
li a:hover {
  	color: #111;
}
.active{
	color: black; 
} 
:root {
	--delay: 0;
	--duration: 800ms;
	--iterations: 1;
}
.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 16px;
	animation-name: clip-text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f2f98b;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}	
}
@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}
@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}
p{
	font-size: 50px;
}
#content{
	width: 100%;
	padding-top: 15px;
	/*
	display: grid;
	align-items: center;*/
}
#mprojects{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2%;
	justify-content: center;
}
#section1{
	scroll-margin-top: 80px;
}
#section2{
	scroll-margin-top: 80px;
}
#section3{
	scroll-margin-top: 80px;
}
#section4{
	scroll-margin-top: 80px;
}
.projects{
	display: grid;/*
	grid-template: 
            "a a b"
            "a a c"*/
	margin-bottom: 7%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 500px;
	/*background-color: #ebebeb;*/
}
.cover{
	height: 450px;
	width: 500px;
	margin: auto 2%;
	filter: grayscale(70%);
	/*transform: translate(0, 25px);*/
	border-radius: 20px;
	-webkit-transition: all 0.2s ease-in-out;/*
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;*/
	grid-column: 1;
  	grid-row: 1 / span 2;
}
.cover:hover{
	filter: grayscale(0%);
	border-radius: 10px;
}
.gamename{
	width: 120px;
	height: 36px;
	font-size: 30px;
	/*
	transform: translate(475%, -800%);*/
	text-align: center;
	overflow-y: visible;
	color: #111;/*
	justify-self: center;*/
	margin: 0;/*
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;*/
	grid-column: 2;
  	grid-row: 1;
  	justify-self: center; 
}
.desc{
	display: grid;
	font-size: 16px;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 55%;
	background-color: #993F37;
	padding: 0;
	margin-left: 5px;/*
	-webkit-transition: all 0.2s ease-in;
	/*justify-self: center;*//*
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;*/
	justify-self: center; 
}/*
.readmore:hover{
	color: white;
	cursor: pointer;*/
}
#cprojects{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2%;
	justify-content: center;
}