html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
body{
	background: rgb(102,102,102);
	background: linear-gradient(90deg, rgba(102,102,102,1) 0%, rgba(156,156,156,1) 15%, rgba(223,223,223,1) 50%, rgba(156,156,156,1) 85%, rgba(102,102,102,1) 100%); 
	margin: 0;
	overflow: clip;
	contain: paint;
	min-height: 400px;
}
p, h3, a{
	font-family: verdana;
}
header{
	overflow: clip;
	contain: paint;
	height: 400px;
}
#upperheader{
	object-fit: cover;
	width: 100%;
	height: 400px;
	margin-bottom: 0;
	position: relative;
	clip-path: inset(0);
	text-align: center;
	background-image: url("../pictures/wp2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
}
#headerimg{
	object-fit: cover;
  	position: fixed;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 400px;
}
h1{
	font-size: 40px;
	color: #FFF;
	font-family: verdana;
  	text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000; 
}
.headertext{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
h2{
	font-size: 30px;
	color: #FFF;
	font-family: verdana;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, 100%);
  	text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}
#navbar{
	z-index: 999;
	position: sticky;
	top: 0;
	overflow: hidden;
	height: 49px;
	width: 100%;
	background-color: #993F37;
}
ul {
	width: 500px;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	background-color: #993F37;
  	display: flex;
  	/*align-items: center;*/
  	justify-content: center;
}
li {
  	float: left;
}
li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 15px 25px;
  	text-decoration: none;
  	font-family: verdana;
	-webkit-transition: all 0.2s ease-in;
}
li a:hover {
  	color: #111;
}
.active{
	color: black; 
} 
:root {
	--delay: 0;
	--duration: 800ms;
	--iterations: 1;
}
.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 16px;
	animation-name: clip-text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f2f98b;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}	
}
@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}
@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}
p{
	font-size: 50px;
}
#content{
	width: 100%;
	padding-top: 15px;
	/*
	display: grid;
	align-items: center;*/
}
#mprojects{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2%;
	justify-content: center;
	margin-bottom: 150px;
}
#section1{
	scroll-margin-top: 80px;
}
#section2{
	scroll-margin-top: 80px;
}
#section3{
	scroll-margin-top: 80px;
}
#section4{
	scroll-margin-top: 80px;
}
.projects{
	display: grid;
	margin-bottom: 7%;
	margin-left: auto;
	margin-right: auto;
	width: 80% !important;
	row-gap: 1%
	/*background-color: #ebebeb;*/
}
.cover{
	height: 450px;
	width: 500px;
	/*margin: auto 2%;*/
	filter: grayscale(0%);
	border-radius: 20px;
	-webkit-transition: all 0.2s ease-in-out;
	grid-column: 1;
  	grid-row: 1 / span 3;
  	box-shadow: 1px 1px 8px #666666;
}
.cover:hover{
	filter: grayscale(0%);
	border-radius: 15px;
	box-shadow: 1px 1px 10px #666666;
}
.gamename{
	height: 36px;
	font-size: 30px;
	text-align: center;
	overflow-y: visible;
	color: #111;
	margin: 0;
	grid-column: 2 / span 3;
  	grid-row: 1;
  	justify-self: center; 
}
.desc{
	font-size: 16px;
	text-align: center;
	width: 80%;
	padding: 0;
	margin-left: 5px;
	grid-column: 2 / span 3;
  	grid-row: 2;
	justify-self: center;
	margin: 0; 
}
.button {
	display: inline-flex;
  	align-items: center;
	height: 20%;
  	background: #993F37;
  	margin: 0;
  	background-image: -webkit-linear-gradient(top, #8f352f, #b83e35);
  	background-image: -moz-linear-gradient(top, #8f352f, #b83e35);
  	background-image: -ms-linear-gradient(top, #8f352f, #b83e35);
  	background-image: -o-linear-gradient(top, #8f352f, #b83e35);
  	background-image: linear-gradient(to bottom, #8f352f, #b83e35);
  	-webkit-border-radius: 4;
  	-moz-border-radius: 4;
  	border-radius: 4px;
  	text-shadow: 1px 1px 5px #000000;
  	-webkit-box-shadow: 1px 1px 8px #666666;
  	-moz-box-shadow: 1px 1px 8px #666666;
  	box-shadow: 1px 1px 8px #666666;
  	font-family: verdana;
  	color: #ffffff;
  	font-size: 20px;
  	padding: 20px;
  	text-decoration: none;
  	text-align: center;
	justify-self: center;
	grid-column: 2 / span 3;
  	grid-row: 3;
  	-webkit-transition: all 0.2s ease-in-out;
}
.button:hover {
  	color: black;
  	text-shadow: 0.5px 0.5px 5px #FFF;
}
.screenshots{
	display: grid;
	/*grid-template-columns: 1fr;*/
	overflow-x: auto;
	grid-column: 1 / span 5;
  	grid-row: 4;
  	column-gap: 5%;
  	margin-top: auto;
  	border-top: 1px solid black;
  	border-left: 1px solid black;
  	border-right: 1px solid black;
  	border-radius: 5px;
}
.screenshots img{
	width: 130%;
	height: 97%;
	min-height: 97%;
	grid-row: 1;
	border-right: 0.33px solid black;
	border-left: 0.33px solid black;
	border-bottom: 0.33px solid black;
	filter: grayscale(70%);
	border-radius: 5px;
	box-shadow: 1px 1px 8px #666666;
	-webkit-transition: all 0.2s ease-in-out;
}
.screenshots img:hover{
	filter: grayscale(0%);
	cursor: pointer;	
	box-shadow: 1px 1px 10px #666666;
	/*margin-bottom: 5%;*/
}
#cprojects{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2%;
	justify-content: center;
	margin-bottom: 10%;
}