<div id="upperheader">
    <h1 class="headertext">Andrej Antanasković</h1>
    <h2>Student. Game Developer. Web Developer.</h2>
</div>
<section class="top-nav">
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">Current Projects</a></li>
        <li><a href="#section3">About</a></li>
        <li><a href="#section4">Contact</a></li>
    </ul>

</section>
<div id="icons-container">
    <div class="icon">
        <a href="https://antandrej.itch.io/" target="_blank"><img class="icon-img" src="../../assets/icons/i.png"></a>
    </div>
</div>