<div id="footer">
    <a href="mailto:antandrej2003@gmail.com" id="email">Email: antandrej2003@gmail.com</a>
    <ul id="social-media-ul">
        <li class="social-media-li">
            <a target="_blank" href="https://www.linkedin.com/in/andrej-antanaskovic/"><i
                    class="fab fa-linkedin social-media-icon"></i></a>
        </li>
        <li class="social-media-li">
            <a target="_blank" href="https://github.com/antandrej"><i class="fab fa-github social-media-icon"></i></a>
        </li>
        <li class="social-media-li">
            <a target="_blank" href="https://antandrej.itch.io/"><i class="fab fa-itch-io social-media-icon"></i></a>
        </li>
        <li class="social-media-li">
            <a target="_blank" href="mailto:antandrej2003@gmail.com"><i
                    class="fas fa-envelope social-media-icon"></i></a>
        </li>
    </ul>
    <p id="copyright">Copyright &copy; 2023 Antandrej</p>
</div>